<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" routerLink="" routerDirection="back">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-list>
    <ion-item routerLink="my-details">
      <ion-icon name="person-circle" color="primary"></ion-icon>
      <ion-label color="primary">
        <h1>Perfil</h1>
      </ion-label>
    </ion-item>
    <ion-item routerLink="my-vehicles">
      <ion-icon name="car" color="primary"></ion-icon>
      <ion-label color="primary">
        <h1>Mis vehiculos</h1>
      </ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="payment-methods">
      <ion-icon name="card" color="primary"></ion-icon>
      <ion-label color="primary">
        <h1>Metodos de pago</h1>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer class="ion-padding-horizontal">
  <ion-button fill="outline" expand="block" color="danger" (click)="onLogout()">CERRAR SESSIÓN</ion-button>
</ion-footer>
