<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" routerLink="/account/payment-methods" routerDirection="back">
      <ion-back-button defaultHref="/account/payment-methods"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva tarjeta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="cardForm" (ngSubmit)="saveCreditCard()" novalidate>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="cardName" formControlName="holder_name" placeholder="Como aparece en la tarjeta">
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !cardForm.controls.holder_name.valid">
      El nombre es requerido.
    </span>
    <ion-item>
      <ion-label position="floating">Número de tarjeta</ion-label>
      <ion-input type="text" name="cardNumber" formControlName="card_number">
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !cardForm.controls.card_number.valid">
      El número de la tajeta es inválido.
    </span>
    <ion-item>
      <ion-label position="floating">Fecha de expiración</ion-label>
      <ion-row>
        <ion-col size="6">
          <ion-input type="text" placeholder="Mes (01 - 12)" formControlName="expiration_month" name="expirationMonth"
            (ngModelChange)="validateExpirationDate()">
          </ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input type="text" placeholder="Año (01 - 99)" formControlName="expiration_year" name="expirationYear"
            (ngModelChange)="validateExpirationDate()">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <div>
      <span class="error ion-padding" *ngIf="submitAttempt && !cardForm.controls.expiration_month.valid">
        El mes ingresado no es valido.
      </span>
    </div>
    <div>
      <span class="error ion-padding" *ngIf="submitAttempt && !cardForm.controls.expiration_year.valid">
        El año ingresado no es valido.
      </span>
    </div>
    <span class="error ion-padding" *ngIf="submitAttempt && expirationValidation">
      {{ expirationValidation }}
    </span>
    <ion-item>
      <ion-label position="floating">Codigo de seguridad</ion-label>
      <ion-input type="text" name="cvv" formControlName="cvv2">
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !cardForm.controls.cvv2.valid">
      Código de seguridad inválido.
    </span>
    <ion-button class="ion-margin-vertical" type="submit" expand="block" color="primary" [disabled]="loading">
      <p>Guardar</p>
    </ion-button>
  </form>
</ion-content>
