<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" routerLink="/account" routerDirection="back">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Metodos de pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="new-payment-method">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-credit-card-basic-info [cardInformation]="cardInfo" *ngIf="cardInfo">
  </app-credit-card-basic-info>
</ion-content>
