<ion-content class="ion-padding">
  <app-reservation-card (click)="onSelectReservation(subscription)" [subscription]="subscription"
    *ngFor="let subscription of subscriptions">
  </app-reservation-card>
</ion-content>
