<ion-card id="card" (click)="onCardSelected()">
  <ion-card-header>
    <ion-card-title>{{ parkingDetails?.name }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{ parkingDetails?.address }}
  </ion-card-content>
</ion-card>
