<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-list>
    <ion-item routerLink="/help">
      <ion-icon name="help-circle" color="primary"></ion-icon>
      <ion-label color="primary">
        <h1>Ayuda</h1>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
