<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" routerDirection="back">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <h3>Llama a nuestas líneas</h3>
      <p>+57 321 755 28 03</p>
      <p>+57 321 755 28 03</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label>
      <h3>Escribenos un correo</h3>
      <p>info@movid.com</p>
      <p>asistencia@movid.com</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <ion-label text-wrap>
      <h3>Comunícate vía WhatApp</h3>
      <p>Si quieres contactarnos vía WhatsApp solo necesitas dar</p>
      <ion-button>
        Click aquí
      </ion-button>
    </ion-label>
  </ion-item>
</ion-content>
