<ion-card style="padding: 5px">
  <ion-row>
    <ion-col>
      <ion-row>
        <h6>{{ parking?.name }}</h6>
      </ion-row>
      <ion-row>
        {{ parking?.address }}
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row *ngIf="parking">
        <ion-col class="ion-no-padding ion-text-center">
          <h6>Inicio</h6>
          <ion-row>
            {{ subscription?.start | dateFormat: "MMMM dd yyyy" }}
          </ion-row>
        </ion-col>
        <ion-col class="ion-no-padding ion-text-center">
          <h6>Fin</h6>
          <ion-row>
            {{ subscription?.end | dateFormat: "MMMM dd yyyy" }}
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>
