<ion-content [fullscreen]="true">
  <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="close()" fill="clear">
      <ion-icon name="close" slot="start" color="dark"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-row class="ion-text-center">
    <ion-col>
      <qrcode [qrdata]="data" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-col>
  </ion-row>
</ion-content>
