<ion-content class="ion-padding" *ngIf="cardInformation">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" color="primary" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-text color="medium">
    <h3>Total a pagar</h3>
  </ion-text>
  <ion-text>
    <h1 class="ion-no-margin">
      <strong>
        $ {{ payment.roundedTotal | currency: "COP":"":"1.0-2" }}
      </strong>
    </h1>
  </ion-text>
  <br />
  <ion-text color="primary">
    <h3 class="ion-no-margin">Método de pago</h3>
  </ion-text>
  <ion-card class="card-border-radius-10" style="margin-left: 0; margin-right: 0;">
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-img [src]="getCardImg(cardInformation.brand)"></ion-img>
      </ion-col>
      <ion-col size="9">
        <ion-text>
          <p class="ion-no-margin">
            {{ cardInformation.holderName }}
          </p>
          <p class="ion-no-margin">
            <strong>
              {{ cardInformation.cardNumber }}
            </strong>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card>
  <p>
    <strong>Nota:</strong> Si quieres cambiar el metodo de pago es posible hacerlo en la sección de configuraciones
    <ion-icon name="person"></ion-icon>
  </p>
  <ion-button class="ion-margin-vertical primary-button" type="submit" expand="block" *ngIf="!disabledbutton"
    (click)="onCreditCardPay()">
    Pagar
  </ion-button>
  <ion-button class="ion-margin-vertical primary-button" type="submit" expand="block" [disabled]="disabledbutton"
    *ngIf="disabledbutton">
    <ion-spinner name="lines"></ion-spinner>
  </ion-button>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="cardInformation">
  <ion-row>
    <ion-col size="5">
      <p style="font-size: 10px; margin-bottom: 0; margin-top: 0;">Transacciones realizadas vía:</p>
      <img src="../../../assets/img/openpay.png">
    </ion-col>
  </ion-row>
</ion-footer>
