<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="config.navigationBack" routerDirection="back">
      <ion-back-button [defaultHref]="config.navigationBack"></ion-back-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="¿A donde vas? ">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
  <ion-card>
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item class="ion-activatable" *ngFor="let item of autocompleteItems" (click)="selectSearchResult(item)">
        <ion-label>
          <h2>{{ item.structured_formatting.main_text }}</h2>
          <h3>{{ item.structured_formatting.secondary_text }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
