<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Map -->
  <div id="map"></div>
  <ion-row style="height: 100%;">
    <ion-col class="ion-align-self-end">
      <app-parking-card-info *ngIf="selectedParking" [parkingDetails]="selectedParking"
        (onSelected)="ToParkingDetails()" id="card-info">
      </app-parking-card-info>
    </ion-col>
  </ion-row>


  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="light" routerLink="/account" size="small">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        <i class="material-icons">date_range</i>
        Mensualidad
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <i class="material-icons">flight</i>
        Aeropuerto
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-searchbar (ionFocus)="onFocus()" placeholder="¿A donde vas? ">
        </ion-searchbar>
      </ion-col>
      <ion-col size="2" routerLink="/choose-vehicle">
        <ion-img [src]="setVehicleImg()"></ion-img>
      </ion-col>
    </ion-row>
    <!-- <ion-buttons slot="primary">
  <ion-button>
    <ion-icon slot="icon-only" name="car"></ion-icon>
  </ion-button>
</ion-buttons> -->
  </ion-toolbar>
</ion-footer>
