<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" routerLink="/account/my-vehicles" routerDirection="back">
      <ion-back-button defaultHref="/account/my-vehicles"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="vehicleForm" (ngSubmit)="saveNewVehicle()" novalidate>
    <ion-item>
      <ion-label position="floating">Tipo de documento</ion-label>
      <ion-select formControlName="documentType">
        <ion-select-option value="ID">Cedula ciudadana</ion-select-option>
        <ion-select-option value="PASSPORT">Pasaporte</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !vehicleForm.controls.documentType.valid">
      Tipo de documento es requerido.
    </span>
    <ion-item>
      <ion-label position="floating">Numero de documento</ion-label>
      <ion-input type="text" name="documentNumber" formControlName="documentNumber">
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !vehicleForm.controls.documentNumber.valid">
      El numero de documento es requerido.
    </span>
    <ion-item>
      <ion-label position="floating">Tipo de vehículo</ion-label>
      <ion-select formControlName="vehicleType">
        <ion-select-option value="CAR">Carro</ion-select-option>
        <ion-select-option value="MOTORCYCLE">Moto</ion-select-option>
        <ion-select-option value="BICYCLE">Bicicleta</ion-select-option>
        <ion-select-option value="TRUCK">Camion</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !vehicleForm.controls.vehicleType.valid">
      Tipo de vehículo es requerido.
    </span>
    <ion-item>
      <ion-label position="floating">Placa</ion-label>
      <ion-input type="text" name="licensePlate" formControlName="licensePlate" placeholder="AAA123">
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !vehicleForm.controls.licensePlate.valid">
      La placa es requerida.
    </span>
    <ion-button class="ion-margin-vertical" type="submit" expand="block" color="primary">
      <p>Guardar</p>
    </ion-button>
  </form>
</ion-content>
