<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()" *ngIf="!noPayment">
        <ion-icon slot="icon-only" color="primary" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card class="card-border-radius-21">
    <img class="left" alt="" src="./assets/img/card-header-exit.jpg" />
    <img class="left" alt="" src="./assets/img/dashed-line.png" />
    <!-- <app-qr-code-animated *ngIf="!code"></app-qr-code-animated> -->
    <ion-grid class="ion-align-items-center" *ngIf="code">
      <ion-row class="ion-justify-content-center">
        <qrcode [qrdata]="code" [size]="250" [level]="'M'"></qrcode>
        <ion-col size="12" class="ion-padding">
          Muestra este código en el punto de pago o en la salida, según
          corresponda.
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
