<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-toolbar color="danger">
      <ion-title>
        Tiquetes
      </ion-title>
    </ion-toolbar>
  </ion-tab-bar>
  <ion-tab-bar slot="top">
    <ion-tab-button class="active" tab="entrance-ticket-tab">
      <ion-label>Tiquete ingreso</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="reservations-tab">
      <ion-label>Reservas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
