<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <!-- <ion-icon name="car-sport"></ion-icon> -->
      <i class="material-icons">directions_car</i>
      <ion-label>Parqueaderos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <i class="material-icons">local_activity</i>
      <ion-label>Tiquetes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
