<ion-card class="card-border-radius-21" *ngIf="paymentInformation">
  <div class="ion-padding">
    <ion-text color="primary">
      <h1>
        <strong>Tu factura </strong>
      </h1>
    </ion-text>
  </div>
  <ion-card class="primary-button card-border-radius-15 ion-padding-vertical ion-margin">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon color="light" class="ion-align-items-start" name="radio-button-off"></ion-icon>
          <hr class="dashed-line" />
          <ion-icon color="light" style="font-size: large" class="ion-align-items-end ion-icon ion-icon custom-parking">
          </ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-text color="light">
            <p class="ion-no-margin">Entraste en</p>
            <p class="ion-no-margin">
              {{ paymentInformation.entrance | dateFormat: "MMM d, HH:mm" }}
            </p>
            <br />
            <br />
            <p class="ion-no-margin">Pagaste hasta</p>
            <p class="ion-no-margin">
              {{ paymentInformation.authorizedExit | dateFormat: "MMM d, HH:mm" }}
            </p>
          </ion-text>
        </ion-col>
        <ion-col size="7">
          <ion-text color="light">
            <h1 class="ion-text-right font-size-36">
              <strong>$
                {{
									paymentInformation.roundedTotal | currency: "COP":"":"1.0-2"
								}}
              </strong>
            </h1>
            <p class="ion-text-right ion-no-margin">
              Duración:
              {{ secondsTohhmmss(paymentInformation.parkingTimeInSeconds) }}
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid class="ion-margin-vertical ion-padding-vertical">
    <ion-row class="ion-justify-content-center" *ngIf="paymentInformation">
      <qrcode [qrdata]="paymentInformation.operationCode" [size]="150" [level]="'M'"></qrcode>
    </ion-row>
  </ion-grid>

  <p class="ion-text-center ion-no-margin ion-padding-bottom" *ngIf="isAuthorizedExit">
    Muestra este código para salir del parqueadero.
  </p>
  <div>
    <ion-card-content class="warning-background" *ngIf="!isAuthorizedExit">
      <ion-text color="light">
        <ion-icon class="ion-icon custom-alert"></ion-icon> Tu tiempo para salir
        terminó. Por favor, acércate a un punto de pago.
      </ion-text>
    </ion-card-content>
  </div>
</ion-card>

<ion-card class="card-border-radius-21" padding *ngIf="!paymentInformation">
  <div class="ion-padding">
    <ion-text color="primary">
      <h1>
        <strong>Tu factura </strong>
      </h1>
    </ion-text>
  </div>
  <ion-card class="primary-button card-border-radius-15 ion-padding-vertical ion-no-margin">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon color="light" class="ion-align-items-start" name="radio-button-off"></ion-icon>
          <hr class="dashed-line" />
          <ion-icon color="light" class="ion-align-items-end ion-icon custom-parking"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-text color="light">
            <p class="ion-no-margin">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
            <p class="ion-no-margin">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
            <br />
            <br />
            <p class="ion-no-margin">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
            <p class="ion-no-margin">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-text>
        </ion-col>
        <ion-col size="7">
          <ion-text color="light">
            <h1 class="ion-text-right font-size-36">
              <ion-skeleton-text animated></ion-skeleton-text>
            </h1>
            <p class="ion-text-right ion-no-margin">
              <ion-skeleton-text animated></ion-skeleton-text>
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-grid class="ion-align-items-center ion-margin-vertical ion-padding-vertical">
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-skeleton-text animated class="qr-skeleton"></ion-skeleton-text>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

  <p class="ion-text-center ion-no-margin">
    <ion-skeleton-text animated></ion-skeleton-text>
  </p>
</ion-card>
