<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" routerLink="" routerDirection="back">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>No has iniciado sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-icon name="person-circle" style="font-size: 120px;"></ion-icon>
  </ion-row>

  <form [formGroup]="loginForm" novalidate>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" name="email" formControlName="email">
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !loginForm.controls.email.valid">
      El correo es requerido.
    </span>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" formControlName="password">
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !loginForm.controls.password.valid">
      El contraseña es requerido.
    </span>
  </form>
  <br>
  <ion-row class="ion-justify-content-center">
    <ion-button color="primary" routerLink="/register" fill="clear">Crear cuenta</ion-button>
    <ion-button color="primary" (click)="onLogin()">Iniciar sesión</ion-button>
  </ion-row>

  <ion-item-divider>
    <ion-label class="ion-text-center">
      O inicia sesión con
    </ion-label>
  </ion-item-divider>

  <ion-button expand="block" (click)="loginFaceBook()">Facebook</ion-button>
  <ion-button expand="block" (click)="loginGoogle()">Google</ion-button>

  <ion-text class="ion-text-center" color="dark">
    <p>
      Inicia sesión para poder realizar reservas, si aun no tienes una cuentra, crea una para empezar.
    </p>
  </ion-text>
</ion-content>
