<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" routerDirection="back">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="myDetailsForm" novalidate>
    <ion-item>
      <ion-label position="floating">Me registro como</ion-label>
      <ion-select formControlName="typeUser" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="user">Usuario</ion-select-option>
        <ion-select-option value="company">Empresa</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="firstName" formControlName="firstName">
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <span class=" ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.firstName.valid">
        El nombre es requerido.
      </span>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Apellido(s)</ion-label>
      <ion-input type="text" name="lastName" formControlName="lastName">
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <span class="ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.lastName.valid">
        El apellido es requerido.
      </span>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" name="email" formControlName="email">
      </ion-input>
    </ion-item>
    <ion-text color="danger">
      <span class="ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.email.valid">
        El correo invalido.
      </span>
    </ion-text>

    <ion-row>
      <ion-col size="5">
        <ion-item>
          <ion-label position="floating">Prefijo</ion-label>
          <ionic-selectable [items]="countries" searchPlaceholder="" itemValueField="dial_code" formControlName="prefix"
            itemTextField="name" [canSearch]="true">
            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close" style="font-size: 24px;"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableValueTemplate let-country="value">
              {{country.dial_code}}
            </ng-template>
            <ng-template ionicSelectableItemTemplate let-country="item" let-isPortSelected="isItemSelected">
              {{country.name}} ({{country.dial_code}})
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col size="7">
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input type="text" name="cellphone" formControlName="cellphone">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-text color="danger">
      <span class="ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.cellphone.valid">
        El numero de celular es requerido.
      </span>
    </ion-text>

    <div *ngIf="myDetailsForm.controls.typeUser.value === 'company'">
      <ion-item>
        <ion-label position="floating">Nombre empresa</ion-label>
        <ion-input type="text" name="companyName" formControlName="companyName">
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <span class="ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.companyName.value">
          El nombre de la empresa es requerido.
        </span>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Tipo de empresa</ion-label>
        <ion-select formControlName="typeCompany" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option class="ion-text-wrap" [value]="companyType.value" *ngFor="let companyType of companyTypes">
            {{companyType.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger">
        <span class="ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.typeCompany.value">
          El tipo de empresa es requerido.
        </span>
      </ion-text>

    </div>
    <div *ngIf="!socialMediaLogin">
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="password" formControlName="password">
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <span class="ion-padding" *ngIf="submitAttempt && !myDetailsForm.value.password">
          La contraseña es requerida.
        </span>
      </ion-text>

      <ion-item>
        <ion-label position="floating">Confirmación contraseña</ion-label>
        <ion-input type="password" name="passwordConfirmation" formControlName="passwordConfirmation">
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <span class="ion-padding" *ngIf="submitAttempt && !myDetailsForm.value.passwordConfirmation">
          La contraseña es requerida.
        </span>
      </ion-text>
      <br>
      <ion-text color="danger">
        <span class="ion-padding" *ngIf="myDetailsForm.value.password !== myDetailsForm.value.passwordConfirmation">
          Las contraseñas no coinciden.
        </span>
      </ion-text>

    </div>

    <ion-item>
      <ion-checkbox color="primary" formControlName="allowCorrespondence" slot="start"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        Acepto recibir correspondencia relacionada con diversos sectores por cualquier medio adecuado a mi
        perfil.
      </ion-label>
    </ion-item>

    <ion-button class="ion-margin-vertical" type="submit" expand="block" color="primary" (click)="onRegister()">
      <p>Crear cuenta</p>
    </ion-button>
  </form>

</ion-content>
