<ion-card>
  <ion-row class="ion-align-items-center">
    <ion-col size="3">
      <ion-img [src]="getCardImg(cardInformation.brand)"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-text>
        <p class="ion-no-margin">
          {{ cardInformation.holderName }}
        </p>
        <p class="ion-no-margin">
          <strong>
            {{ cardInformation.cardNumber }}
          </strong>
        </p>
      </ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-icon name="close" style="font-size: 30px; float: right;"></ion-icon>
    </ion-col>
  </ion-row>
</ion-card>
