<ion-content class="ion-padding animated fadeInRight" *ngIf="state == 'parkingTicket'">
  <app-parking-ticket> </app-parking-ticket>
</ion-content>
<ion-content class="animated fadeInRight no-padding-right" *ngIf="state == 'parkingSummary'">
  <app-parking-summary [operation]="operation" [payment]="payment" [paymentEnabled]="paymentEnabled">
  </app-parking-summary>
</ion-content>
<ion-content class="animated fadeInRight no-padding-right" *ngIf="state == 'parkingBill'">
  <app-parking-bill [paymentInformation]="paymentInformation"></app-parking-bill>
</ion-content>
