<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Confirmación de correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-justify-content-center">
  <p>Se ha mandado el código de confirmación al correo <strong>{{ user.email }}</strong></p>
  <ion-item>
    <ion-label position="floating">Codigo confirmación</ion-label>
    <ion-input type="text" placeholder="Ingresa el código que te mandamos al correo." name="otp" [(ngModel)]="otpCode">
    </ion-input>
  </ion-item>
  <span class="ion-padding" *ngIf="submitAttempt && !otpCode">
    El código de confirmación es requerido.
  </span>
  <ion-button class="ion-margin-vertical" type="submit" expand="block" color="primary" (click)="confirmOTP()">
    <p>Validar correo</p>
  </ion-button>
</ion-content>
