<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="" routerDirection="back">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ parking?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="12">
      <ion-icon name="location" color="primary"></ion-icon>
      <ion-label color="primary">
        {{ parking?.address }}
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Inicio</ion-label>
        <ion-datetime displayFormat="D MMM YYYY" min="1997" max="2030" [(ngModel)]="reservation.startDate">
        </ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label position="floating">Fin</ion-label>
        <ion-datetime displayFormat="D MMM YYYY" min="1997" max="2030" [(ngModel)]="reservation.endDate"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">

      <ion-slides [options]="slideOpts" #slideWithNav>
        <ion-slide *ngFor="let img of  imageGallery">
          <img [src]="img.url" tappable (click)="openPreview(img)">
        </ion-slide>
      </ion-slides>

    </ion-col>
  </ion-row>
  <ion-row>
    <h5>Descripción</h5>
  </ion-row>
  <ion-row>
    {{ parkingDocument?.description }}
  </ion-row>
  <ion-row>
    <h5>Suscripción</h5>
  </ion-row>
  <!-- <ion-item>
    <ion-label>Suscripción</ion-label>
    <ion-select placeholder="Selecciona una" [(ngModel)]="selectedSubscription">
      <ion-select-option *ngFor="let subscription of subscriptionPrices" [value]="subscription">
        {{ subscription.time }} {{ subscription.cost }}
      </ion-select-option>
    </ion-select>
  </ion-item> -->
  <ion-item>
    <ionic-selectable [(ngModel)]="selectedSubscription" [items]="subscriptionPrices"
      placeholder="Selecciona una suscripción">
      <ng-template ionicSelectableCloseButtonTemplate>
        <ion-icon name="close" style="font-size: 24px;"></ion-icon>
      </ng-template>
      <ng-template ionicSelectableValueTemplate let-subscription="value">
        {{subscription.name}}
      </ng-template>
      <ng-template ionicSelectableItemTemplate let-subscription="item" let-isPortSelected="isItemSelected">
        {{ subscriptionTime(subscription.time) }} {{subscription.cost | currency}}
      </ng-template>
    </ionic-selectable>
  </ion-item>
  <ion-row>
    <h5>Cantidad</h5>
  </ion-row>

  <ion-item>
    <ion-input type="number" [(ngModel)]="quantity"></ion-input>
  </ion-item>

  <ion-row>
    <h5>Horario</h5>
  </ion-row>
  <div *ngFor="let scheduleGroup of scheduleGroups" style="padding-bottom: 10px;">
    <div *ngFor="let schedule of scheduleGroup.schedules">
      <ion-row>
        <ion-text color="primary">
          {{ scheduleDays(schedule.weekdayFrom, schedule.weekdayTo) }}
        </ion-text>
      </ion-row>
      <ion-row>
        {{ schedule.hourRangeFrom + ' - ' + schedule.hourRangeTo }}
      </ion-row>
    </div>
  </div>
  <ion-row>
    <h5>Caracteristicas</h5>
  </ion-row>
  <ion-row>
    <ion-list class="ion-no-padding ion-no-margin">
      <ion-item class="ion-no-padding ion-no-margin" lines="none" *ngFor="let tag of parkingTags">
        <ion-text color="primary">
          <i class="material-icons" style="padding-right: 5px">{{ selectIcon(tag.name) }}</i>
        </ion-text>
        <ion-label color="primary">
          {{ tag.description }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-label color="danger">
        <h1>
          {{ selectedSubscription?.cost | currency }}
        </h1>
      </ion-label>
      <ion-label *ngIf="selectedSubscription">
        + {{ reservationPrice | currency }} reserva
      </ion-label>
    </ion-col>
    <ion-col>
      <ion-button expand="block" (click)="onReservation()" [disabled]="!!!this.selectedSubscription">RESERVAR
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
