<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/tabs/tab2/reservations-tab" routerDirection="back">
      <ion-back-button defaultHref="/tabs/tab2/reservations-tab"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ parking?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12">
      <ion-icon name="location" color="primary"></ion-icon>
      <ion-label color="primary">
        {{ parking?.address }}
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-label>
        Muestra este codigo para entrar y salir del parqueadero.
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="ion-text-center">
    <ion-col>
      <qrcode [qrdata]="'Your data string'" [errorCorrectionLevel]="'M'"></qrcode>
    </ion-col>
    <ion-col class="ion-align-self-end">
      <ion-row>
        <ion-col>
          <ion-icon name="search-circle" style="font-size: 40px;" color="primary"
            (click)="openPreview('Your data string')"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label color="primary">
            Click para alargar.
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col class="ion-text-center">
      <ion-label>
        Numero de reserva: <strong>{{ reservation.number }}</strong>
      </ion-label>
    </ion-col>
  </ion-row> -->

  <ion-row *ngIf="subscription">
    <ion-col class="ion-no-padding ion-text-center">
      <h6>Inicio</h6>
      <ion-row>
        <ion-col>
          {{ subscription.start | dateFormat: "MMMM dd yyyy" }}
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-center">
      <h6>Fin</h6>
      <ion-row>
        <ion-col>
          {{ subscription.end | dateFormat: "MMMM dd yyyy" }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <ion-row>
    <h5>Horario</h5>
  </ion-row>
  <div *ngFor="let scheduleGroup of scheduleGroups" style="padding-bottom: 10px;">
    <div *ngFor="let schedule of scheduleGroup.schedules">
      <ion-row>
        <ion-text color="primary">
          {{ scheduleDays(schedule.weekdayFrom, schedule.weekdayTo) }}
        </ion-text>
      </ion-row>
      <ion-row>
        {{ schedule.hourRangeFrom + ' - ' + schedule.hourRangeTo }}
      </ion-row>
    </div>
  </div>
  <br>
  <ion-button expand="block" (click)="navigateTo()">Como llegar</ion-button>

</ion-content>
