<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" routerLink="/account" routerDirection="back">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="myDetailsForm" (ngSubmit)="onSaveDetails()" novalidate>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="firstName" formControlName="firstName" readonly>
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.firstName.valid">
      El nombre es requerido.
    </span>
    <ion-item>
      <ion-label position="floating">Apellido(s)</ion-label>
      <ion-input type="text" name="lastName" formControlName="lastName" readonly>
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.lastName.valid">
      El apellido es requerido.
    </span>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text" name="email" formControlName="email" readonly>
      </ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.email.valid">
      El correo es requerido.
    </span>
    <ion-row>
      <!-- <ion-col size="5">
        <ion-item>
          <ion-label position="floating">Prefijo</ion-label>
          <ionic-selectable formControlName="prefix" [items]="countries" searchPlaceholder="" itemValueField="dial_code"
            itemTextField="name" [canSearch]="true" (onChange)="portChange($event)">
            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close" style="font-size: 24px;"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableValueTemplate let-country="value">
              {{country.dial_code}}
            </ng-template>
            <ng-template ionicSelectableItemTemplate let-country="item" let-isPortSelected="isItemSelected">
              {{country.name}} ({{country.dial_code}})
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col> -->
      <ion-col>
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input type="text" name="cellphone" formControlName="cellphone" readonly>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <span class="error ion-padding" *ngIf="submitAttempt && !myDetailsForm.controls.email.valid">
      El numero de celular es requerido.
    </span>
    <!-- <ion-item>
      <ion-label position="floating">Ciudad de residencia</ion-label>
      <ion-input type="text" name="cityOfResidence" formControlName="cityOfResidence" (ionFocus)="onFocus()">
      </ion-input>
    </ion-item> -->

    <!-- <ion-button class="ion-margin-vertical" type="submit" expand="block" color="primary">
      <p>Guardar</p>
    </ion-button> -->
  </form>
</ion-content>
