<div class="ion-margin-horizontal ion-padding-top">
  <ion-text>
    <span class="no-margin">
      Este es tu tiquete para ingresar a los parqueaderos ID+
    </span>
  </ion-text>
</div>
<ion-refresher slot="fixed" (ionRefresh)="updateParkingTicket($event)">
  <ion-refresher-content pullingText="Desliza hacia abajo" refreshingSpinner="circles" refreshingText="Actualizando...">
  </ion-refresher-content>
</ion-refresher>
<ion-card class="card-border-radius-21">
  <ion-row class="ion-justify-content-center">
    <div [ngClass]="{ opacity2: !isAValidCode, noOpacity: isAValidCode }" *ngIf="otp">
      <qrcode [qrdata]="otp.code" [size]="150" [level]="'M'"></qrcode>
    </div>
  </ion-row>
  <!-- <app-qr-code-animated *ngIf="!otp.expirationTime"></app-qr-code-animated> -->
  <ion-grid *ngIf="otp.expirationTime">
    <ion-row class="ion-text-center" style="padding-bottom: 10px;">
      <ion-col>
        <strong>Conductor</strong>
        <br />
        {{ user.name }} {{ user.lastName }}
      </ion-col>
      <ion-col>
        <strong>Válido hasta</strong>
        <br />
        {{ otp.expirationTime | dateFormat: "MMM d, HH:mm" }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div [ngClass]="{ fadeIn: !isAValidCode, fadeOut: isAValidCode }" class="animated" *ngIf="otp.expirationTime">
    <ion-card-content class="warning-background" *ngIf="!isAValidCode">
      <ion-text color="light">
        <ion-icon class="ion-icon custom-alert"></ion-icon> Tu tiquete venció.
        Desliza hacia abajo.
      </ion-text>
    </ion-card-content>
  </div>
</ion-card>
