<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="" routerDirection="back">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Escoge un vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-activatable" (click)="onSelectVehicle(vehicle)" *ngFor="let vehicle of vehicles">
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-img [src]="vehicle.path"></ion-img>
      </ion-col>
      <ion-col size="9">
        <ion-text>
          <p class="ion-no-margin">
            <strong>
              {{ vehicle.name }}
            </strong>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

</ion-content>
