<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="onBack()" routerDirection="back">
      <ion-back-button defaultHref="/parking-details"></ion-back-button>
    </ion-buttons>
    <ion-title>Resumen reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title>{{ parking?.name }}</ion-title>
  <ion-row>
    <ion-col size="12">
      <ion-icon name="location" color="primary"></ion-icon>
      <ion-label color="primary">
        {{ parking?.address }}
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-no-padding ion-text-center">
      <h6>Inicio</h6>
      <ion-row>
        <ion-col>
          {{ reservation.startDate | dateFormat: "MMMM dd yyyy" }}
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="ion-no-padding ion-text-center">
      <h6>Fin</h6>
      <ion-row>
        <ion-col>
          {{ reservation.endDate | dateFormat: "MMMM dd yyyy" }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <h5>Recibo</h5>
  </ion-row>

  <ion-row>
    <ion-col>
      Suscripción
    </ion-col>
    <ion-col class="ion-text-right">
      {{ subscriptionValue?.amount | currency }}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      Impuesto
    </ion-col>
    <ion-col class="ion-text-right">
      {{ subscriptionValue?.tax | currency }}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      Reserva
    </ion-col>
    <ion-col class="ion-text-right">
      {{ reservationPrice | currency }}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      TOTAL
    </ion-col>
    <ion-col class="ion-text-right" *ngIf="subscriptionValue">
      {{ ( subscriptionValue.amount + subscriptionValue.tax + reservationPrice ) | currency}}
    </ion-col>
  </ion-row>

  <ion-row>
    <h5>Detalles</h5>
  </ion-row>

  <ion-row>
    Vehículo
  </ion-row>
  <ion-item style="padding-bottom: 10px;">
    <ionic-selectable [(ngModel)]="selectedVehicle" [items]="user.vehicle" *ngIf="selectedVehicle">
      <ng-template ionicSelectableCloseButtonTemplate>
        <ion-icon name="close" style="font-size: 24px;"></ion-icon>
      </ng-template>
      <ng-template ionicSelectableIconTemplate>
        <ion-icon name="chevron-forward-outline" style="font-size: 30px">
        </ion-icon>
      </ng-template>
      <ng-template ionicSelectableValueTemplate let-vehicle="value">
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-img [src]="getVehicleImg(vehicle.vehicleType)"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-text>
              <p class="ion-no-margin">
                <strong>
                  Placa:
                </strong>
              </p>
              <p class="ion-no-margin">
                {{ vehicle.licensePlate }}
              </p>
            </ion-text>
          </ion-col>
          <ion-col size="3">

          </ion-col>
        </ion-row>
      </ng-template>
      <ng-template ionicSelectableItemTemplate let-vehicle="item" let-isPortSelected="isItemSelected">
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-img [src]="getVehicleImg(vehicle.vehicleType)"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-text>
              <p class="ion-no-margin">
                <strong>
                  Placa:
                </strong>
              </p>
              <p class="ion-no-margin">
                {{ vehicle.licensePlate }}
              </p>
            </ion-text>
          </ion-col>
          <ion-col size="3">
          </ion-col>
        </ion-row>
      </ng-template>
    </ionic-selectable>
  </ion-item>
  <ion-row>
    Celular
  </ion-row>
  <ion-item *ngIf="user">
    <ion-input type="text" name="cellphone" [(ngModel)]="user.phone">
    </ion-input>
  </ion-item>


  <ion-row>
    <h5>Metodo de pago</h5>
  </ion-row>
  <app-credit-card-basic-info [cardInformation]="cardInfo" *ngIf="cardInfo">
  </app-credit-card-basic-info>
  <!-- <ion-item style="padding-bottom: 10px;">
    <ionic-selectable [(ngModel)]="selectedVehicle" [items]="user.vehicle" *ngIf="selectedVehicle">
      <ng-template ionicSelectableCloseButtonTemplate>
        <ion-icon name="close" style="font-size: 24px;"></ion-icon>
      </ng-template>
      <ng-template ionicSelectableIconTemplate>
        <ion-icon name="chevron-forward-outline" style="font-size: 30px">
        </ion-icon>
      </ng-template>
      <ng-template ionicSelectableValueTemplate let-vehicle="value">
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-img [src]="getVehicleImg(vehicle.vehicleType)"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-text>
              <p class="ion-no-margin">
                <strong>
                  Placa:
                </strong>
              </p>
              <p class="ion-no-margin">
                {{ vehicle.licensePlate }}
              </p>
            </ion-text>
          </ion-col>
          <ion-col size="3">

          </ion-col>
        </ion-row>
      </ng-template>
      <ng-template ionicSelectableItemTemplate let-vehicle="item" let-isPortSelected="isItemSelected">
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-img [src]="getVehicleImg(vehicle.vehicleType)"></ion-img>
          </ion-col>
          <ion-col size="6">
            <ion-text>
              <p class="ion-no-margin">
                <strong>
                  Placa:
                </strong>
              </p>
              <p class="ion-no-margin">
                {{ vehicle.licensePlate }}
              </p>
            </ion-text>
          </ion-col>
          <ion-col size="3">
          </ion-col>
        </ion-row>
      </ng-template>
    </ionic-selectable>
  </ion-item> -->

</ion-content>

<ion-footer class="ion-padding-horizontal">
  <ion-button expand="block" (click)="onPayReservation()">PAGAR</ion-button>
</ion-footer>
