<div class="ion-padding">
  <ion-toolbar>
    <ion-text color="primary">
      <h1 class="ion-padding">
        <strong>Estado de Parking </strong>
      </h1>
    </ion-text>
  </ion-toolbar>
</div>
<ion-refresher slot="fixed" (ionRefresh)="updateParkingSummary($event)">
  <ion-refresher-content pullingText="Desliza hacia abajo" refreshingSpinner="circles" refreshingText="Actualizando...">
  </ion-refresher-content>
</ion-refresher>
<ion-card class="card-background card-border-radius-top-left-21 animated slideInRight no-margin-top" *ngIf="payment">
  <ion-grid class="ion-padding no-padding-bottom no-padding-right">
    <ion-row>
      <ion-col size="12">
        <ion-text color="light">
          <p class="ion-no-margin">Total</p>
          <h1 class="ion-no-margin font-size-36" color="light">
            <strong>
              $ {{ payment.roundedTotal | currency: "COP":"":"1.0-2" }}
            </strong>
          </h1>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-text color="light">
          <p class="ion-no-margin">Duración</p>
          <h2 class="ion-no-margin" color="light">
            {{ secondsTohhmmss(payment.parkingTimeInSeconds) }}
          </h2>
        </ion-text>
      </ion-col>
      <ion-col size="4" align-self-end>
        <ion-text color="light">
          <p class="font-size-10">
            Ultima actualización:<br />
            {{ payment.calculated | dateFormat: "MMM d, HH:mm" }}
          </p>
        </ion-text>
      </ion-col>
      <ion-col class="animated fast slideInRight no-padding-right" size="8">
        <img class="left" alt="" src="./assets/img/{{ payment.vehicleType | lowercase }}.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<div class="ion-padding-horizontal" *ngIf="payment">
  <ion-text>
    <p class="ion-padding-horizontal" style="margin-bottom: 0;">
      En el menu que se despliega en el boton de la derecha selecciona:
    </p>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-icon name="card"></ion-icon> Para pagar con tarjeta
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="qr-code-outline"></ion-icon> Para pagar en un punto de pago
      </ion-label>
    </ion-item>
  </ion-list>
</div>
<ion-card class="card-background card-border-radius-top-left-21" *ngIf="!payment">
  <ion-grid class="ion-padding no-padding-right no-padding-bottom">
    <ion-row>
      <ion-col size="12">
        <ion-text color="light">
          <ion-skeleton-text animated class="width-10"></ion-skeleton-text>
          <ion-card-title class="ion-no-margin" color="light">
            <ion-skeleton-text animated class="width-40"></ion-skeleton-text>
          </ion-card-title>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text color="light">
          <ion-skeleton-text animated class="width-10"></ion-skeleton-text>
          <h2 class="ion-no-margin" color="light">
            <ion-skeleton-text animated class="width-40"></ion-skeleton-text>
          </h2>
        </ion-text>
      </ion-col>
      <ion-col size="4" align-self-end>
        <ion-text>
          <p>
            <ion-skeleton-text animated></ion-skeleton-text>
          </p>
        </ion-text>
      </ion-col>
      <ion-col size="8" class="no-padding-right">
        <div class="height-140"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<div class="ion-padding custom-skeleton" *ngIf="!payment">
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated class="width-88"></ion-skeleton-text>
  <ion-skeleton-text animated class="width-20"></ion-skeleton-text>
</div>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="arrow-up"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button *ngIf="user && user.openPayCardId" (click)="presentModalCardPayment()">
      <ion-icon name="card"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
