/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.primary-button {
    --background: linear-gradient(to right, #2276bb 0%, #0cb2d4 51%, #4ac0e5 100%);
    --background-activated: linear-gradient(to right, #1e6a9c 0%, #0c9cae 51%, #44b0ca 100%) !important;
}

.second-button {
    --background: linear-gradient(to right, #9668f7 16%, #87a2f9 51%, #26cff2 100%);
    --background-activated: linear-gradient(to right, #764ad4 0%, #2786d4 51%, #3d8ccc 100%) !important;

}

.orange-button {
    --background: linear-gradient(to right, #f26262 0%, #ed9b2f 100%);
    --background-activated: linear-gradient(to right, #f35656 0%, #eb9423 100%) !important;
}

.green-button {
    --background: linear-gradient(to right, #55be91 0%, #26cff2 100%);
    --background-activated: linear-gradient(to right, #55be91 0%, #26cff2 100%) !important;
}

.violet-button {
    --background: linear-gradient(to right, #845cd9 0%, #3d92d7 100%);
    --background-activated: linear-gradient(to right, #7e51dd 0%, #338dd6 100%) !important;
}

.blue-button {
    --background: linear-gradient(to right, #26cff2 0%, #0cb2d4 100%);
    --background-activated: linear-gradient(to right, #19ccf0 0%, #03b2d4 100%) !important;
}

.input {
    --border-radius: 10px;
    --inner-border-width: 0px 0px 0px 0px;
    box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.08);

}

.qr-code-background {
    --background: linear-gradient(#845cd9 30%, #26cff2 100%);
}

.card-background {
    --background: url('./assets/img/card-background.jpg') no-repeat center/cover fixed;
    border-radius: 26px 0px 0px 26px;
    margin-left: 10%;
    padding-right: 0;
    margin-right: 0
}

.green-background-img {
    --background: url('./assets/img/green-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blue-background-img {
    --background: url('./assets/img/blue-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-border-radius-21 {
    border-radius: 21px;
    box-shadow: 8px 16px 15px 0px rgba(0, 0, 0, .12);
}

.card-border-radius-top-left-21 {
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    box-shadow: 8px 16px 15px 0px rgba(0, 0, 0, .12);
}

.card-border-radius-15 {
    border-radius: 15px;
    box-shadow: 8px 16px 15px 0px rgba(0, 0, 0, .12);
}

.no-padding-top {
    padding-top: 0
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-margin-top {
    margin-top: 0
}

.font-size-36 {
    font-size: 36px
}

.warning-background {
    background-color: #efa544
}

.alert-radio-label.sc-ion-alert-md {
    white-space: normal !important;
}