<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" routerLink="/account" routerDirection="back">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis vehiculos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="new-vehicle">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="user">
    <app-vehicle-details-card (onDelete)="presentAlertConfirm($event)" (onFavorite)="onSetFavorite($event)"
      [vehicleDetails]="vehicle" [defaultVehicle]="user.vehicleId" *ngFor="let vehicle of user.vehicle">
    </app-vehicle-details-card>
  </div>
</ion-content>
