<ion-card>
  <ion-row class="ion-align-items-center">
    <ion-col size="3">
      <ion-img [src]="getVehicleImg(vehicleDetails.vehicleType)"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-text>
        <p class="ion-no-margin">
          <strong>
            Placa:
          </strong>
        </p>
        <p class="ion-no-margin">
          {{ vehicleDetails.licensePlate }}
        </p>
      </ion-text>
    </ion-col>
    <ion-col size="3">
      <ion-icon name="heart-outline" style="font-size: 30px; float: left;" (click)="setToFavorite()"
        *ngIf="defaultVehicle !== vehicleDetails.licensePlate">
      </ion-icon>
      <ion-icon name="heart" style="font-size: 30px; float: left;" color="danger" (click)="setToFavorite()"
        *ngIf="defaultVehicle === vehicleDetails.licensePlate">
      </ion-icon>
      <ion-icon name="close" style="font-size: 30px; float: right;" (click)="deleteVehicle()">
      </ion-icon>
    </ion-col>
  </ion-row>
</ion-card>
